Data Preparation

In [9]:
import pandas as pd
import numpy as np

# List of variables

## **Identification variables**
cid: Original household number \
hid: Current wave household number \
pid: Person ID \
syear: Survey year

In [10]:
ids = ["pid", "cid", "hid"]


## **Attitudes toward refugees** 
plj0433: Is it generally good or bad for the German economy that refugees are coming here? \
plj0434: Will refugees erode or enrich cultural life in Germany? \
plj0435: Will Germany become a better or worse place to live because of the refugees?

In [11]:
attitudes_refugees = ["plj0433", "plj0434", "plj0435"]

## **Satisfaction** 

plh0182: Current life satisfaction \
plh0176: Satisfaction with personal income

In [12]:
satisfaction = ["plh0182", "plh0176"]

## **Conerns**

plh0032: Worried about economic development \
plh0033: Worried about finances \
plh0335: Worried about own retirement pension \
plh0336 Worried about cohesion in society \
plh0038: Worried about peace \
plh0040: Worried about crime in Germany \
plj0046: Worried about immigration to Germany \
plj0047: Worried about hostility to foreigners

In [13]:
worries = ["plh0032", "plh0033", "plh0335", "plh0336", "plh0038", "plh0040", "plj0046", "plj0047"]

## **Demo**
gebjahr: year of birth \
sex: gender \
bula_h: fedral state \
bula_ew: state east vs. west \
plb0471_v2: Wages or salary gross amount/month 2018 in euros \
migback: migration background \
pgemplst: empolyment status \
pgbilzeit: amount of educational year

In [14]:
income = ["plb0471_v2"]
demo = ["pid", "gebjahr", "sex", "migback"]
fs = ["bula_ew", "bula_h"]
edu_emp = ["pid", "pgemplst", "pgbilzeit"]
politics = ["plh0333"]

## **Personality traits**
### Conscientiousness
plh0212: Thorough worker \
plh0218: Tend to be lazy \
plh0222: Carry out tasks efficiently 

### Extraversion
plh0213: Am communicative \
plh0219: Am sociable \
plh0223: Reserved 

### Agreeableness
plh0214: Am sometimes too coarse with others \
plh0217: Able to forgive \
plh0224: Friendly with others 

### Openness
plh0215: Am original \
plh0220: Value artistic experiences \
plh0225: Have lively imagination 


### Neuroticism
plh0216: Worry a lot \
plh0221: Somewhat nervous \
plh0226: Deal well with stress

In [15]:
big_5 = ["plh0212", "plh0213", "plh0214", "plh0215", "plh0216", "plh0217", "plh0218",
         "plh0219", "plh0220", "plh0221", "plh0222", "plh0223", "plh0224", "plh0225", "plh0226"]

# Read from pl.dta

In [16]:
main_var = ids + attitudes_refugees + satisfaction + worries + income + politics + ["plj0014_v3"]

In [17]:
pers = ["pid", "plh0212", "plh0213", "plh0214", "plh0215", "plh0216", "plh0217", "plh0218",
         "plh0219", "plh0220", "plh0221", "plh0222", "plh0223", "plh0224", "plh0225", "plh0226"]

In [18]:
df = pd.read_stata("pl.dta", convert_categoricals = False)

In [19]:
"plj0014_v3" in df.columns

True

In [20]:
df["plj0014_v3"].value_counts()

 1    488848
-8    145677
 2     58502
-5     19325
-1         3
Name: plj0014_v3, dtype: int64

In [21]:
# Data of 2016
df_16 = df[df.syear == 2016]

In [22]:
# Main variables 2016
df_pl_16 = df_16[main_var]

In [23]:
df_pl_16.shape

(29116, 19)

In [24]:
# Data of 2017
df_17 = df[df.syear == 2017]

In [25]:
# Personality traits
df_pl_pers_17 = df_17[pers]

In [26]:
df_pl_pers_17.shape

(32485, 16)

In [27]:
data = df_pl_16.merge(df_pl_pers_17, how = "inner", on= "pid")

In [28]:
data.shape # 26497 vs. 23995 in 2016

(23995, 34)

In [29]:
data = data.replace(-1, np.NaN)
data = data.replace(-2, np.NaN)
data = data.replace(-3, np.NaN)
data = data.replace(-4, np.NaN)
data = data.replace(-5, np.NaN)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23995 entries, 0 to 23994
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pid         23995 non-null  int32
 1   cid         23995 non-null  int32
 2   hid         23995 non-null  int32
 3   plj0433     21048 non-null  float64
 4   plj0434     21048 non-null  float64
 5   plj0435     21040 non-null  float64
 6   plh0182     23877 non-null  float64
 7   plh0176     20997 non-null  float64
 8   plh0032     21198 non-null  float64
 9   plh0033     23889 non-null  float64
 10  plh0335     21205 non-null  float64
 11  plh0336     21159 non-null  float64
 12  plh0038     21229 non-null  float64
 13  plh0040     21225 non-null  float64
 14  plj0046     21205 non-null  float64
 15  plj0047     23829 non-null  float64
 16  plb0471_v2  11094 non-null  float64
 17  plh0333     23995 non-null  int8
 18  plj0014_v3  21365 non-null  float64
 19  plh0212     23863 non-null  float64
 20  plh0213     23946 non-null  float64
 21  plh0214     23917 non-null  float64
 22  plh0215     23854 non-null  float64
 23  plh0216     23936 non-null  float64
 24  plh0217     23929 non-null  float64
 25  plh0218     23907 non-null  float64
 26  plh0219     23916 non-null  float64
 27  plh0220     23679 non-null  float64
 28  plh0221     23929 non-null  float64
 29  plh0222     23865 non-null  float64
 30  plh0223     23837 non-null  float64
 31  plh0224     23927 non-null  float64
 32  plh0225     23839 non-null  float64
 33  plh0226     23915 non-null  float64
dtypes: float64(30), int32(3), int8(1)
memory usage: 6.0 MB

In [31]:
#data.to_csv("finalNotClean2016Plt.csv")

# Read from ppathl.dta to get demo items

In [32]:
demo = ["pid", "gebjahr", "sex", "migback"]
df_1 = pd.read_stata("ppathl.dta", convert_categoricals = False)

In [33]:
df_demo_16 = df_1[df_1.syear == 2016]

In [34]:
df_demo_16 = df_demo_16[demo]

In [35]:
df_demo_16.shape

(57287, 4)

In [36]:
data_demo = data.merge(df_demo_16, how = "inner", on= "pid")

In [37]:
data_demo.shape

(23995, 37)

In [38]:
data_demo = data_demo.replace(-1, np.NaN)
data_demo = data_demo.replace(-2, np.NaN)
data_demo = data_demo.replace(-3, np.NaN)
data_demo = data_demo.replace(-4, np.NaN)
data_demo = data_demo.replace(-5, np.NaN)

In [39]:
data_demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23995 entries, 0 to 23994
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pid         23995 non-null  int32
 1   cid         23995 non-null  int32
 2   hid         23995 non-null  int32
 3   plj0433     21048 non-null  float64
 4   plj0434     21048 non-null  float64
 5   plj0435     21040 non-null  float64
 6   plh0182     23877 non-null  float64
 7   plh0176     20997 non-null  float64
 8   plh0032     21198 non-null  float64
 9   plh0033     23889 non-null  float64
 10  plh0335     21205 non-null  float64
 11  plh0336     21159 non-null  float64
 12  plh0038     21229 non-null  float64
 13  plh0040     21225 non-null  float64
 14  plj0046     21205 non-null  float64
 15  plj0047     23829 non-null  float64
 16  plb0471_v2  11094 non-null  float64
 17  plh0333     23995 non-null  int8
 18  plj0014_v3  21365 non-null  float64
 19  plh0212     23863 non-null  float64
 20  plh0213     23946 non-null  float64
 21  plh0214     23917 non-null  float64
 22  plh0215     23854 non-null  float64
 23  plh0216     23936 non-null  float64
 24  plh0217     23929 non-null  float64
 25  plh0218     23907 non-null  float64
 26  plh0219     23916 non-null  float64
 27  plh0220     23679 non-null  float64
 28  plh0221     23929 non-null  float64
 29  plh0222     23865 non-null  float64
 30  plh0223     23837 non-null  float64
 31  plh0224     23927 non-null  float64
 32  plh0225     23839 non-null  float64
 33  plh0226     23915 non-null  float64
 34  gebjahr     23995 non-null  int16
 35  sex         23995 non-null  int8
 36  migback     23995 non-null  int8
dtypes: float64(30), int16(1), int32(3), int8(3)
memory usage: 6.1 MB

In [40]:
len(data_demo.columns)

37

In [41]:
#data_demo.to_csv("data_demo2016.csv")

# Read from hbrutt to get items on the fedral state

In [43]:
df_ew = pd.read_stata("hbrutt.dta", convert_categoricals = False)

In [44]:
var = ["hid", "bula_ew", "bula_h"]

In [45]:
df_ew = df_ew[var]

In [46]:
df_ew.shape

(151160, 3)

In [47]:
len([i for i in data_demo.hid.unique() if i in df_ew.hid.unique()]) # 13316 vs. 11716 in 2016

11716

In [48]:
data_demo_ew = data_demo.merge(df_ew, how = "inner", on= "hid")

In [49]:
data_demo_ew.shape # 21247 vs. 19006 in 2016

(19006, 39)

In [50]:
data_demo_ew = data_demo_ew.replace(-1, np.NaN)
data_demo_ew = data_demo_ew.replace(-2, np.NaN)
data_demo_ew = data_demo_ew.replace(-3, np.NaN)
data_demo_ew = data_demo_ew.replace(-4, np.NaN)
data_demo_ew = data_demo_ew.replace(-5, np.NaN)

In [51]:
data_demo_ew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19006 entries, 0 to 19005
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pid         19006 non-null  int32
 1   cid         19006 non-null  int32
 2   hid         19006 non-null  int32
 3   plj0433     16103 non-null  float64
 4   plj0434     16106 non-null  float64
 5   plj0435     16099 non-null  float64
 6   plh0182     18937 non-null  float64
 7   plh0176     16095 non-null  float64
 8   plh0032     16235 non-null  float64
 9   plh0033     18913 non-null  float64
 10  plh0335     16245 non-null  float64
 11  plh0336     16203 non-null  float64
 12  plh0038     16264 non-null  float64
 13  plh0040     16261 non-null  float64
 14  plj0046     16243 non-null  float64
 15  plj0047     18860 non-null  float64
 16  plb0471_v2  8145 non-null   float64
 17  plh0333     19006 non-null  int8
 18  plj0014_v3  16376 non-null  float64
 19  plh0212     18889 non-null  float64
 20  plh0213     18969 non-null  float64
 21  plh0214     18944 non-null  float64
 22  plh0215     18882 non-null  float64
 23  plh0216     18958 non-null  float64
 24  plh0217     18956 non-null  float64
 25  plh0218     18931 non-null  float64
 26  plh0219     18934 non-null  float64
 27  plh0220     18721 non-null  float64
 28  plh0221     18955 non-null  float64
 29  plh0222     18892 non-null  float64
 30  plh0223     18863 non-null  float64
 31  plh0224     18952 non-null  float64
 32  plh0225     18867 non-null  float64
 33  plh0226     18936 non-null  float64
 34  gebjahr     19006 non-null  int16
 35  sex         19006 non-null  int8
 36  migback     19006 non-null  int8
 37  bula_ew     19006 non-null  int8
 38  bula_h      19006 non-null  int8
dtypes: float64(30), int16(1), int32(3), int8(5)
memory usage: 4.8 MB

# Read from pgen.dta to get item on the educational years and the employment status

In [52]:
# edu_emp = ["pid", "pgemplst", "pgbilzeit"]
df_2 = pd.read_stata("pgen.dta", convert_categoricals = False)

In [53]:
df_2_16 = df_2[df_2.syear == 2016]

In [54]:
df_add_demo = df_2_16[edu_emp]

In [55]:
#len([i for i in df_add_demo.pid.unique() if i in data_demo_ew.pid.unique()])

In [56]:
data_demo_ew_add = data_demo_ew.merge(df_add_demo, how = "inner", on= "pid")

In [57]:
data_demo_ew_add.shape #21247 vs. 19006

(19006, 41)

In [58]:
data_demo_ew_add = data_demo_ew_add.replace(-1, np.NaN)
data_demo_ew_add = data_demo_ew_add.replace(-2, np.NaN)
data_demo_ew_add = data_demo_ew_add.replace(-3, np.NaN)
data_demo_ew_add = data_demo_ew_add.replace(-4, np.NaN)
data_demo_ew_add = data_demo_ew_add.replace(-5, np.NaN)

In [59]:
data_demo_ew_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19006 entries, 0 to 19005
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pid         19006 non-null  int32
 1   cid         19006 non-null  int32
 2   hid         19006 non-null  int32
 3   plj0433     16103 non-null  float64
 4   plj0434     16106 non-null  float64
 5   plj0435     16099 non-null  float64
 6   plh0182     18937 non-null  float64
 7   plh0176     16095 non-null  float64
 8   plh0032     16235 non-null  float64
 9   plh0033     18913 non-null  float64
 10  plh0335     16245 non-null  float64
 11  plh0336     16203 non-null  float64
 12  plh0038     16264 non-null  float64
 13  plh0040     16261 non-null  float64
 14  plj0046     16243 non-null  float64
 15  plj0047     18860 non-null  float64
 16  plb0471_v2  8145 non-null   float64
 17  plh0333     19006 non-null  int8
 18  plj0014_v3  16376 non-null  float64
 19  plh0212     18889 non-null  float64
 20  plh0213     18969 non-null  float64
 21  plh0214     18944 non-null  float64
 22  plh0215     18882 non-null  float64
 23  plh0216     18958 non-null  float64
 24  plh0217     18956 non-null  float64
 25  plh0218     18931 non-null  float64
 26  plh0219     18934 non-null  float64
 27  plh0220     18721 non-null  float64
 28  plh0221     18955 non-null  float64
 29  plh0222     18892 non-null  float64
 30  plh0223     18863 non-null  float64
 31  plh0224     18952 non-null  float64
 32  plh0225     18867 non-null  float64
 33  plh0226     18936 non-null  float64
 34  gebjahr     19006 non-null  int16
 35  sex         19006 non-null  int8
 36  migback     19006 non-null  int8
 37  bula_ew     19006 non-null  int8
 38  bula_h      19006 non-null  int8
 39  pgemplst    19006 non-null  float32
 40  pgbilzeit   18079 non-null  float32
dtypes: float32(2), float64(30), int16(1), int32(3), int8(5)
memory usage: 5.0 MB

In [60]:
len(data_demo_ew_add.columns)

41

# Clean

In [61]:
finalData = data_demo_ew_add.dropna()

In [62]:
finalData.shape

(7557, 41)

In [63]:
finalData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7557 entries, 5 to 16375
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pid         7557 non-null   int32
 1   cid         7557 non-null   int32
 2   hid         7557 non-null   int32
 3   plj0433     7557 non-null   float64
 4   plj0434     7557 non-null   float64
 5   plj0435     7557 non-null   float64
 6   plh0182     7557 non-null   float64
 7   plh0176     7557 non-null   float64
 8   plh0032     7557 non-null   float64
 9   plh0033     7557 non-null   float64
 10  plh0335     7557 non-null   float64
 11  plh0336     7557 non-null   float64
 12  plh0038     7557 non-null   float64
 13  plh0040     7557 non-null   float64
 14  plj0046     7557 non-null   float64
 15  plj0047     7557 non-null   float64
 16  plb0471_v2  7557 non-null   float64
 17  plh0333     7557 non-null   int8
 18  plj0014_v3  7557 non-null   float64
 19  plh0212     7557 non-null   float64
 20  plh0213     7557 non-null   float64
 21  plh0214     7557 non-null   float64
 22  plh0215     7557 non-null   float64
 23  plh0216     7557 non-null   float64
 24  plh0217     7557 non-null   float64
 25  plh0218     7557 non-null   float64
 26  plh0219     7557 non-null   float64
 27  plh0220     7557 non-null   float64
 28  plh0221     7557 non-null   float64
 29  plh0222     7557 non-null   float64
 30  plh0223     7557 non-null   float64
 31  plh0224     7557 non-null   float64
 32  plh0225     7557 non-null   float64
 33  plh0226     7557 non-null   float64
 34  gebjahr     7557 non-null   int16
 35  sex         7557 non-null   int8
 36  migback     7557 non-null   int8
 37  bula_ew     7557 non-null   int8
 38  bula_h      7557 non-null   int8
 39  pgemplst    7557 non-null   float32
 40  pgbilzeit   7557 non-null   float32
dtypes: float32(2), float64(30), int16(1), int32(3), int8(5)
memory usage: 2.0 MB

In [ ]:
#finalData.to_csv("finalData2016.csv")